
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 1922px;
    height: 790px;
    margin: 0 auto;
    border:  1px solid#1B315F;
}

.amina2.container{
margin: 0 auto;
}


.amina2.container h1{
color: #1B315F;
font-family: 'Montserrat';
font-size: 40px;
font-weight: 700;
line-height: 56px;
text-align: left;
text-decoration-skip-ink: none;
width: 1176px;
margin: 0 auto;
position: relative;
}
.blue{
  position: absolute;
  margin-left: 350px;
}
.union{
    position: absolute;
}
.amina2.container p{
    color: #1B315F;
    width: 1100px;
    font-family: 'Montserrat';
    margin-top: 25px;
   margin-left: 380px;
   position: relative;
}

.amina2.container h2{
    color: #1B315F;
    margin-top: 15px;
   margin-left: 380px;
}

.amina2.container h4{
    color: #1B315F;
    margin-top: 20px;
    margin-left: 380px;
}

.amina2.container img{
  
}
/* ------------------- */


.amina3.container{
    width: 1921px;
    height: 546px;
    background-color:#162E5E ;
    margin: 0 auto;
    
}