

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.amina2.container{
margin: 0 auto;
margin-top: 50px;

}


.amina2.container h1{
color: #1B315F;
font-family: 'Montserrat';
font-size: 40px;
font-weight: 700;
line-height: 56px;
text-align: left;
text-decoration-skip-ink: none;
width: 1176px;
margin: 0 auto;
position: relative;
}
.blue{
  position: absolute;
  margin-left: 300px;
}
.union{
    position: absolute;
}
.amina2.container p{
    color: #1B315F;
    width: 1100px;
    font-family: 'Montserrat';
    margin-top: 25px;
   margin-left: 380px;
   position: relative;
}

.amina2.container h2{
    color: #1B315F;
    margin-top: 15px;
   margin-left: 380px;
}

.amina2.container h4{
    color: #1B315F;
    margin-top: 20px;
    margin-left: 380px;
}


/* ------------------- */


.amina3.container{

    width: 1921px;
    height: 546px;
    background-color:white ;
    margin: 0 auto;
}

.amina23.container{
    background-color: #1B315F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.amina22{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(27, 89, 224);
    width: 871px;
    height: 274px;
    border-radius: 16px;
}
.amina22 img{
    position: absolute;
    margin-left: 1785px;
    margin-top: 380px;
}


.amina22 h2{
color: #FFFFFF;
font-family: 'Montserrat';
margin-bottom: 20px;
text-align: center;
}


.amina22 h4{
   color: #FFFFFF;
   font-family: 'Montserrat';
}

.amina22 p{
    color: #FFFFFF ;
    font-family: 'Montserrat';
    margin-top: 10px;
}
.amina22-box{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
 
}

.amina22-box input{

    border-radius: 4px;
    border: rgba(255, 255, 255, 0.2);;
    background: rgba(255, 255, 255, 0.2);
    width: 298px;
    height: 56px;
    text-align: left;
    padding: 5px;
    color: rgba(255, 255, 255, 0.956);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
 
}

.amina22-box button{
    border-radius: 4px;
    border: rgb(21, 47, 96) ;
    background: rgb(21, 47, 96);
    width: 191px;
height: 60px;
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}

/* ======================================================================================================== */
.amina3.container{
    width: 1800px;
    height: 1184px;
    position: relative;
    border: 1px solid white ;

}
.amina3-fotok{
    width:1182px;
    height:895px;
   
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    max-width: 100%;
    margin-top: 170px;
    margin-left: 110px;

   
    
}
.amina3.container h1{
    position: absolute;
    font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
text-align: left;
color: #1B315F;
margin-top: 60px;
margin-left: 90px;

}

.fotok{
    position: absolute;
    left: -10px;

  
}

.amina3.container button{
    background-color: #2770F1;
    color: #FFFFFF;
    width:208px;
    height:56px;
    border: none;
    border-radius: 3px;
    font-family: Montserrat;
    text-align: center;
    gap: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



/* ==================================== =====================================================================*/




/* -----------------footer */


.footer{
    margin: 0 auto;
    background: rgb(22, 45, 95);
    width: 1800px;

    /* height: 450px; */
    margin-top: 1000px;

    height: 450px;
    margin-top: 20px;
}
.container{
    width: 1800px;
    margin: 0 auto;

}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    width: 1800px;

    margin: 0 auto;
    padding: 70px;

    
}
.foot-1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    
}
.foot-logo{
    display: flex;
    gap: 10px;
    justify-content: left;
    text-align: left;

}
.foot-1 h1{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 800;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.adres{
    display: flex;
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
gap: 10px;

}
.foot-1 p{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.foot-1 a{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-decoration-line: underline;
}
.sot-set{
    padding: 20px;
    display: flex;
    gap: 30px;
}
.sot-set img{
    width: 48px;
height: 48px;
}
.foot-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(66, 117, 225);
    width: 871px;
height: 274px;
border-radius: 16px;
gap: 20px;
}
.foot-2 h2{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}
.foot-2 h4{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.foot-2 p{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.foot-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.foot-box input{
    border-radius: 4px;
border: rgba(255, 255, 255, 0.2);;
background: rgba(255, 255, 255, 0.2);
width: 298px;
height: 56px;
text-align: left;
padding: 5px;
color: rgba(255, 255, 255, 0.956);
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.foot-box button{
    border-radius: 4px;
    border: rgb(21, 47, 96) ;
    background: rgb(21, 47, 96);
    width: 191px;
height: 60px;
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.foot-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.foot-3 h1{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.foot-3 ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}
.foot-3 li{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 26px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
list-style: none;
display: flex;
flex-direction: column;
justify-content: left;


}



/* -----------------------karta */
.karta-img{
    width: 1800px;
}
.karta-content h1{
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 44px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
padding: 20px;
}
.karta{
    margin-top:0;
}
.karta-content{
    position: relative;
}
.karta-card{
    position: absolute;
    top: 250px;
    left: 150px;
    width: 501px;
height: 480px;
border-radius: 4px;
box-shadow: 0px 4px 24px 0px rgba(27, 49, 95, 0.15);
background: rgb(255, 255, 255);
display: flex;
flex-direction: column;
padding: 20px;
gap: 30px;
}
.karta-card h2{
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 39px;
letter-spacing: 0%;
text-align: left;
}
.karta-card img{
    width: 16px;
height: 20px;
}
.mesto{
    display: flex;
    align-items: center;
    gap: 10px;
}
.karta-card p{
    color: rgb(63, 87, 139);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.number-phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-1{
    border-radius: 2px;
border: 1px solid rgb(241, 245, 255) ;
background: rgb(241, 245, 255);
width: 183px;
height: 56px;
color: rgb(39, 112, 241);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.btn-2{
    border-radius: 4px;
border: 1px solid rgb(39, 112, 241) ;
background: rgb(39, 112, 241);
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
width: 191px;
height: 56px;
}
.karta-zvezdy{
    display: flex;
    gap: 20px;
}
.zvezdy{
    display: flex;
    flex-direction: column;
}
.zvezdy img {
    width: 114px;
height: 26.41px;
}
/* ---------------client */

.client{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.client h1{
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
padding: 20px;
}
.client-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
}
.client-card{
    border-radius: 4px;
background: rgb(22, 45, 95);
display: flex;
flex-direction: column;
justify-content: center;
align-items:last baseline;
gap: 25px;
padding: 20px;
}
.client-card h2{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.client-card p{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.client-card h4{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.client-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
gap: 30px;
margin-top: 20px;
}
.client-1{
    width: 178px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid rgb(241, 245, 255);
    background: rgb(241, 245, 255);
    color: rgb(39, 112, 241);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.client-2{
    width: 178px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid rgb(39, 112, 241); ;
    background: rgb(39, 112, 241);
    color: rgb(244, 245, 247);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
/* -----------------our doctor */
.doctor-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.doctor-card img{
    width: 360px;
height: 441px;
}
.our-doctor h1{
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
padding: 15px;
}
.our-doctor{
    background: rgb(22, 45, 95);
    display: flex;
    flex-direction: column;
    gap: 50px;
height: 843px;
margin-top: 40px;
}
.doctor-card{
display: flex;
flex-direction: column;
align-items: start;

}
.doc-con h2{
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.doc-con p{
    color: rgb(63, 87, 139);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.doc-con{
    background-color: white;
    width: 360px;
    padding: 10px;
}
.doctor-btn{
    margin: 0 auto;
    border-radius: 4px;
border: rgb(39, 112, 241);
background: rgb(39, 112, 241);
width: 165px;
height: 56px;
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

